.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10%;
}

.gabinety {
  display: flex;
  flex-basis: 200px;
  flex-wrap: wrap;
  gap: 25px;
  flex-grow: 1;
}

.drImage {
  flex-basis: 424px;
  height: 600px;
  background: red;
  position: relative;
}

.beadsImage {
  flex-basis: 113px;
  height: 700px;
  position: relative;
}

