.topBar {
  border: none;
  display: flex;
  justify-content: space-between;
}
.topBarLeft {
  display: flex;
  align-items: center;
}
.topBarLeft a {
  height: 60px;
}
.sectionsWrapper {
  padding: 0px;
  width: 100%;
  background: inherit;
}

.section {
  width: 100%;
  height: calc(100vh - var(--d-bar-dim));
  background: inherit;
  border-top: 2px solid var(--color-brown);
}

.subSection {
  padding: 25px;
  height: 100%;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}

.subSection:nth-child(odd) {
  width: calc(50% - 2px);
  border-right: 2px solid var(--color-brown);
}

.kursor {
  rotate: 90deg;
  cursor: pointer;
}

.editBlock {
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.city {
  padding-left: 25px;
}

.subBlocks {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.padder {
  padding-top: 25px;
}

.lekarzInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
