.gabinet {
  width: 200px;
  height: 55px;
  border: 2px solid var(--color-brown);
  color: var(--color-brown);
  background: transparent;
  cursor: pointer;
}

.gabinet:hover {
  background: var(--color-orange);
}