html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: "Monarcha", sans-serif;

  --color-violet: rgb(102, 20, 181);
  --color-brown: rgb(240, 231, 222);
  --color-orange: #f6892a;

  --d-bar-dim: 100px;
}

@font-face {
  font-family: "Monarcha";
  src: url("/fonts/Monarcha/font.woff2") format("woff2"),
    url("/fonts/Monarcha/font.woff") format("woff");
}
@font-face {
  font-family: "Monarcha-Bold";
  src: url("/fonts/MonarchaBold/font.woff2") format("woff2"),
    url("/fonts/MonarchaBold/font.woff") format("woff");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
